src/*.o
configure
autom4te.cache/
config.log
po/Makefile
po/Makefile.in
po/Makefile.in.in
Makefile
aclocal.m4
amide_config.h
config.status
doc/reference/version.xml
etc/amide-1.0.6-1.info
etc/amide-1.0.6-1.iss
etc/amide.spec
libtool
macosx/amide.plist
po/POTFILES
po/stamp-it
src/.deps/
stamp-h1
amide_config.h.in*
Makefile.in
doc/Makefile.in
doc/reference/Makefile.in
etc/Makefile.in
help/Makefile.in
macosx/Makefile.in
man/Makefile.in
pixmaps/Makefile.in
src/Makefile.in
win32/Makefile.in
etc/amide.desktop
help/amide-C.omf
help/amide-es.omf
help/es/amide.xml
help/es/es.mo
pixmaps/*.h
po/.intltool-merge-cache
po/zh_CN.gmo
po/zh_TW.gmo
src/amide
src/amitk_data_set_D*.*
src/amitk_data_set_F*.*
src/amitk_data_set_S*.*
src/amitk_data_set_U*.*
src/amitk_marshal.c
src/amitk_marshal.h
src/amitk_raw_data_D*.*
src/amitk_raw_data_F*.*
src/amitk_raw_data_S*.*
src/amitk_raw_data_U*.*
src/amitk_roi_B*.*
src/amitk_roi_C*.*
src/amitk_roi_E*.*
src/amitk_roi_F*.*
src/amitk_roi_I*.*
src/amitk_type_builtins.*
src/stamp-amitk_type_builtins.*
intltool-*
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/gtk-doc.m4
m4/gnome-doc-utils.m4
INSTALL
config.guess
config.sub
depcomp
install-sh
ltmain.sh
gtk-doc.make
gnome-doc-utils.make
