[Desktop Entry]
Encoding=UTF-8
GenericName=Medical Image Examiner
Name=Amide
Comment=A Medical Image Data Examiner
Exec=amide
Icon=amide_logo.png
Terminal=0
Icon=amide_logo.png
Type=Application
Categories=Application;Graphics;


